[DRIVER]
# Net adapter for HNS switch, must be physical
Adapter = {{ contrail_configuration.WINDOWS_PHYSICAL_INTERFACE }}

# IP address of Contrail Controller API
ControllerIP = {{ contrail_configuration.CONFIG_NODES }}

# Port of Contrail Controller API
ControllerPort = 8082

[AUTH]
# Auth method. Available values: (keystone|noauth). If keystone. [KEYSTONE] section must be filled.
AuthMethod = {{ contrail_configuration.AUTH_MODE }}

[LOGGING]
# Log verbosity (possible values: Debug|Info|Warn|Error|Fatal|Panic)")
LogLevel = Debug

{% if contrail_configuration.AUTH_MODE == 'keystone' %}
[KEYSTONE]
# Keystone auth url. If empty, will read from environment variable.
Os_auth_url = {{ contrail_configuration.KEYSTONE_AUTH_PROTO }}://{{ contrail_configuration.KEYSTONE_AUTH_HOST }}:{{ contrail_configuration.KEYSTONE_AUTH_PUBLIC_PORT }}{{ contrail_configuration.KEYSTONE_AUTH_URL_VERSION }}

# Contrail username. If empty, will read from environment variable.
Os_username = {{ contrail_configuration.KEYSTONE_AUTH_ADMIN_TENANT }}

# Tenant name. If empty, will read environment variable.
Os_tenant_name = {{ contrail_configuration.KEYSTONE_AUTH_ADMIN_TENANT }}

# Contrail password. If empty, will read environment variable.
Os_password = {{ contrail_configuration.KEYSTONE_AUTH_ADMIN_PASSWORD }}

# Keystone token. If empty, will read environment variable.
Os_token =
{% endif %}
