#!/bin/bash
virt-install --name {{ container_vm_hostname }} \
--disk /var/lib/libvirt/images/{{ container_vm_hostname }}.qcow2
--vcpus={{ CONTAINER_VM_CONFIG.vcpu }} \
--ram={{ CONTAINER_VM_CONFIG.vram }} \
{% if hostvars[inventory_hostname].port_group is defined %}
--network network={{ hostvars[inventory_hostname].bridge }},model=virtio,portgroup={{ hostvars[inventory_hostname].port_group }} \
{% else %}
--network network={{ hostvars[inventory_hostname].bridge }},model=virtio \
{% endif %}
--virt-type kvm \
--import \
--os-variant rhel7 \
--graphics vnc \
--serial pty \
--noautoconsole \
--console pty,target_type=virtio
