[defaults]
host_key_checking = False
log_path = /var/log/ansible.log
jinja2_extensions=jinja2.ext.do

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null
