version: '2'
services:
  node-init:
    image: "{{ container_registry }}/contrail-node-init:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common_webui.env
    environment:
      - CONTRAIL_STATUS_IMAGE="{{ container_registry }}/contrail-status:{{ contrail_version_tag }}"
    privileged: true
    pid: host
    network_mode: "host"
    volumes:
      {{ common_volumes | to_yaml | indent(width=6) }}
  web:
    image: "{{ container_registry }}/contrail-controller-webui-web:{{ contrail_version_tag }}"
    network_mode: "host"
    env_file: /etc/contrail/common_webui.env
    volumes_from:
      - node-init
    depends_on:
      - node-init
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
    logging:
      driver: "{{ webui_log_driver }}"
      options:
        max-size: "{{ webui_log_max_size }}"
        max-file: "{{ webui_log_max_file }}"
  job:
    image: "{{ container_registry }}/contrail-controller-webui-job:{{ contrail_version_tag }}"
    network_mode: "host"
    env_file: /etc/contrail/common_webui.env
    volumes_from:
      - node-init
    depends_on:
      - node-init
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
    logging:
      driver: "{{ webui_log_driver }}"
      options:
        max-size: "{{ webui_log_max_size }}"
        max-file: "{{ webui_log_max_file }}"
