version: '2'
volumes:
  dnsmasq:
{% if use_external_tftp %}
  ironic_pxe:
    external: true
{% else %}
  tftp:
{% endif %}
  dhcp_leases:
services:
  node-init:
    image: "{{ container_registry }}/contrail-node-init:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common_config.env
    environment:
      - CONTRAIL_STATUS_IMAGE="{{ container_registry }}/contrail-status:{{ contrail_version_tag }}"
    privileged: true
    pid: host
    network_mode: "host"
    volumes:
      {{ common_volumes | to_yaml | indent(width=6) }}
  nodemgr:
    image: "{{ container_registry }}/contrail-nodemgr:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common_config.env
    environment:
      - NODE_TYPE=config
    network_mode: "host"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    volumes_from:
      - node-init
    depends_on:
      - node-init
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
    logging:
      driver: "{{ config_log_driver }}"
      options:
        max-size: "{{ config_log_max_size }}"
        max-file: "{{ config_log_max_file }}"
  provisioner:
    image: "{{ container_registry }}/contrail-provisioner:{{ contrail_version_tag }}"
    env_file: 
      - /etc/contrail/common_config.env
      - /etc/contrail/defaults.env
    environment:
      - NODE_TYPE=config
    network_mode: "host"
    volumes_from:
      - node-init
    depends_on:
      - node-init
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
    logging:
      driver: "{{ config_log_driver }}"
      options:
        max-size: "{{ config_log_max_size }}"
        max-file: "{{ config_log_max_file }}" 
  api:
    image: "{{ container_registry }}/contrail-controller-config-api:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common_config.env
    network_mode: "host"
    volumes_from:
      - node-init
    depends_on:
      - node-init
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
    logging:
      driver: "{{ config_log_driver }}"
      options:
        max-size: "{{ config_log_max_size }}"
        max-file: "{{ config_log_max_file }}"
  svcmonitor:
    image: "{{ container_registry }}/contrail-controller-config-svcmonitor:{{ contrail_version_tag }}"
    network_mode: "host"
    env_file: /etc/contrail/common_config.env
    volumes_from:
      - node-init
    depends_on:
      - node-init
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
    logging:
      driver: "{{ config_log_driver }}"
      options:
        max-size: "{{ config_log_max_size }}"
        max-file: "{{ config_log_max_file }}"
  schema:
    image: "{{ container_registry }}/contrail-controller-config-schema:{{ contrail_version_tag }}"
    network_mode: "host"
    env_file: /etc/contrail/common_config.env
    volumes_from:
      - node-init
    depends_on:
      - node-init
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
    logging:
      driver: "{{ config_log_driver }}"
      options:
        max-size: "{{ config_log_max_size }}"
        max-file: "{{ config_log_max_file }}"
  devicemgr:
    image: "{{ container_registry }}/contrail-controller-config-devicemgr:{{ contrail_version_tag }}"
    network_mode: "host"
    env_file: /etc/contrail/common_config.env
    volumes_from:
      - node-init
      - dnsmasq
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - node-init
      - dnsmasq
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
    logging:
      driver: "{{ config_log_driver }}"
      options:
        max-size: "{{ config_log_max_size }}"
        max-file: "{{ config_log_max_file }}"
  dnsmasq:
    image: "{{ container_registry }}/contrail-controller-config-dnsmasq:{{ contrail_version_tag }}"
    network_mode: "host"
    cap_add:
      - NET_ADMIN
      - NET_RAW
    env_file: /etc/contrail/common_config.env
    environment:
      - NODE_TYPE=device-manager
      - USE_EXTERNAL_TFTP={{ use_external_tftp }}
    volumes_from:
      - node-init
    volumes:
      - dnsmasq:/etc/dnsmasq
{% if use_external_tftp %}
      - ironic_pxe:/etc/tftp
{% else %}
      - tftp:/etc/tftp
{% endif %}
      - dhcp_leases:/var/lib/dnsmasq
    depends_on:
      - node-init
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
    logging:
      driver: "{{ config_log_driver }}"
      options:
        max-size: "{{ config_log_max_size }}"
        max-file: "{{ config_log_max_file }}"
  stats:
    image: "{{ container_registry }}/contrail-controller-config-stats:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common_config.env
    volumes_from:
      - node-init
    depends_on:
      - node-init
    network_mode: "host"
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
    logging:
      driver: "{{ config_log_driver }}"
      options:
        max-size: "{{ config_log_max_size }}"
        max-file: "{{ config_log_max_file }}"

