---
kolla_config: {}
kolla_dir: "{{ inventory_dir }}/../../contrail-kolla-ansible"
inventory_name: "my_inventory"

# Pick first instance's IP as a default
os_node: >-
    {%- for k,v in instances.iteritems() -%}
      {%- if loop.first -%}
      {%- print v.ip -%}
      {%- endif -%}
    {%- endfor -%}

container_registry: >-
    {%- if contrail_configuration is defined and contrail_configuration['CONTAINER_REGISTRY'] is defined -%}
      {%- print contrail_configuration['CONTAINER_REGISTRY'] -%}
    {%- else -%}
      {%- print 'opencontrailnightly' -%}
    {%- endif -%}

contrail_tag: >-
    {%- if contrail_configuration is defined and contrail_configuration['CONTRAIL_VERSION'] is defined %}
      {%- print contrail_configuration['CONTRAIL_VERSION'] -%}
    {%- else -%}
      {%- print 'latest' -%}
    {%- endif -%}

default_kolla_globals:
  neutron_opencontrail_init_image_full: "{{ container_registry }}/contrail-openstack-neutron-init:{{ contrail_tag }}"
  nova_compute_opencontrail_init_image_full: "{{ container_registry}}/contrail-openstack-compute-init:{{ contrail_tag }}"
  ironic_notification_manager_image_full: "{{ container_registry}}/contrail-openstack-ironic-notification-manager:{{ contrail_tag }}"
  customize_etc_hosts: no
  openstack_release: "4.0.0"
  kolla_internal_vip_address: "{{ os_node }}"
  contrail_api_interface_address: "{{ os_node }}"
  neutron_plugin_agent: "opencontrail"
