---
kolla_config: {}
kolla_dir: "{{ playbook_dir }}/../../contrail-kolla-ansible"
inventory_name: "my_inventory"
kolla_passwd: "{{ kolla_config.get('kolla_passwords', {}) }}"
gen_passwords: yes

default_openstack_sku: ocata
openstack_sku: >-
    {%- if contrail_configuration.OPENSTACK_VERSION is defined -%}
      {{ contrail_configuration.OPENSTACK_VERSION }}
    {%- else -%}
      {{ default_openstack_sku }}
    {%- endif %}


default_kolla_globals:
  neutron_opencontrail_init_image_full: "{{ container_registry }}/contrail-openstack-neutron-init:{{ contrail_tag }}"
  nova_compute_opencontrail_init_image_full: "{{ container_registry}}/contrail-openstack-compute-init:{{ contrail_tag }}"
  ironic_notification_manager_image_full: "{{ container_registry}}/contrail-openstack-ironic-notification-manager:{{ contrail_tag }}"
  heat_opencontrail_init_image_full: "{{ container_registry}}/contrail-openstack-heat-init:{{ contrail_tag }}"
  enable_barbican: yes
  customize_etc_hosts: no
  enable_swift: yes
  openstack_release: ocata
  enable_opencontrail_rbac: "{{ 'yes' if contrail_configuration.AAA_MODE is defined and contrail_configuration.AAA_MODE == 'rbac' else 'no' }}"
  kolla_internal_vip_address: "{{ os_node_control }}"
  kolla_external_vip_address: "{{ os_node_mgmt }}"
  contrail_api_interface_address: "{{ config_api_vip }}"
  neutron_plugin_agent: opencontrail
  storage_nodes: "{{ os_nodes_storage }}"
