---
kolla_config: {}
kolla_dir: "{{ playbook_dir }}/../../contrail-kolla-ansible"
inventory_name: "my_inventory"
kolla_passwd: "{{ kolla_config.get('kolla_passwords', {}) }}"
gen_passwords: yes

default_openstack_sku: ocata
openstack_sku: >-
    {%- if contrail_configuration.OPENSTACK_VERSION is defined -%}
      {{ contrail_configuration.OPENSTACK_VERSION }}
    {%- else -%}
      {{ default_openstack_sku }}
    {%- endif %}


default_kolla_globals:
  neutron_opencontrail_init_image_full: "{{ container_registry }}/contrail-openstack-neutron-init:{{ contrail_tag }}"
  nova_compute_opencontrail_init_image_full: "{{ container_registry}}/contrail-openstack-compute-init:{{ contrail_tag }}"
  ironic_notification_manager_image_full: "{{ container_registry}}/contrail-openstack-ironic-notification-manager:{{ contrail_tag }}"
  customize_etc_hosts: no
  openstack_release: "4.0.0"
  network_interface: "{{ network_interface_detected }}"
  kolla_internal_vip_address: "{{ os_node_control }}"
  kolla_external_vip_interface: "{{ external_interface_detected }}"
  contrail_api_interface_address: "{{ contrail_node_control }}"
  neutron_plugin_agent: "opencontrail"
