---

- name: merge contrail_configuration dicts
  set_fact:
    contrail_configuration: "{{ contrail_configuration_default | combine(contrail_configuration) }}"

- name: set ANALYTICS_NODES var
  set_fact:
    contrail_configuration: "{{ contrail_configuration | combine( { 'ANALYTICS_NODES': contrail_configuration.CONTROLLER_NODES } ) }}"
  when: contrail_configuration.ANALYTICS_NODES is not defined

- name: set CONFIG_NODES var
  set_fact:
    contrail_configuration: "{{ contrail_configuration | combine( { 'CONFIG_NODES': contrail_configuration.CONTROLLER_NODES } ) }}"
  when: contrail_configuration.CONFIG_NODES is not defined

- name: set CONTROL_NODES var
  set_fact:
    contrail_configuration: "{{ contrail_configuration | combine( { 'CONTROL_NODES': contrail_configuration.CONTROLLER_NODES } ) }}"
  when: contrail_configuration.CONTROL_NODES is not defined

- name: set DNS_NODES var
  set_fact:
    contrail_configuration: "{{ contrail_configuration | combine( { 'DNS_NODES': contrail_configuration.CONTROL_NODES } ) }}"
  when: contrail_configuration.DNS_NODES is not defined

- name: create artifacts directory
  win_file:
    path: "{{ win_host_artifacts_dir }}"
    state: directory

- name: create logs directory
  win_file:
    path: C:\ProgramData\Contrail\var\log\contrail
    state: directory

- name: ensure configuration folder exists
  win_file:
    path: C:\ProgramData\Contrail\etc\contrail
    state: directory
