---
{% if instance_data.roles is defined and instance_data.roles is mapping() -%}
  {%- set excludes = ['VROUTER_GATEWAY', 'PHYSICAL_INTERFACE', 'network_interface', 'kolla_internal_address', 'kolla_external_vip_interface', 'QOS_LOGICAL_QUEUES'] -%}
  {%- for role,vars in instance_data.roles.items() -%}
    {%- if vars is mapping() -%}
      {%- for a, b in vars.items() -%}
        {%- if a not in excludes -%}
          {%- print a + ': ' + b|string() + '\n' -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

kolla_internal_address: {{ host_internal_address }}
network_interface: {{ host_internal_interface }}
kolla_external_vip_interface: {{ host_external_interface }}
