---
- name: update image
  shell: "docker pull {{ container_registry }}/contrail-status:{{ contrail_version_tag }}"
  when: UPDATE_IMAGES is undefined or UPDATE_IMAGES != false

- name: run contrail-status container once
  docker:
    name: contrail-status
    image: "{{ container_registry }}/contrail-status:{{ contrail_version_tag }}"
    state: started
    volumes:
    - /etc/contrail:/etc/contrail
    - /usr/bin:/host/usr/bin
    - /var/run/docker.sock:/var/run/docker.sock
    pid: host
    net: host
    privileged: yes

- name: remove contrail-status stopped container
  docker:
    name: contrail-status
    image: "{{ container_registry }}/contrail-status:{{ contrail_version_tag }}"
    state: absent
