---
- name: set instance data
  set_fact:
    instance_data: "{{ instances[hostvars[inventory_hostname].instance_name] }}"
  tags:
   - always

- name: set instance name
  set_fact:
    instance_name: "{{ hostvars[inventory_hostname].instance_name }}"
  tags:
   - always

- name: set contrail configuration param
  set_fact:
   contrail_configuration: {}
  when: contrail_configuration is undefined
  tags:
   - always

- name: set orchestrator param
  set_fact:
    contrail_configuration: "{{ contrail_configuration|default({})|combine({'CLOUD_ORCHESTRATOR': orchestrator}) }}"
  when:
    - orchestrator is defined
    - contrail_configuration.CLOUD_ORCHESTRATOR is not defined
  tags:
   - always

- name: set KEYSTONE_AUTH_ADMIN_PASSWORD
  set_fact:
    contrail_configuration: "{{ contrail_configuration|default({})|combine({'KEYSTONE_AUTH_ADMIN_PASSWORD': kolla_config.kolla_passwords.keystone_admin_password }) }}"
  when:
    - contrail_configuration.CLOUD_ORCHESTRATOR == 'openstack'
    - kolla_config is defined
    - kolla_config.kolla_passwords is defined
    - kolla_config.kolla_passwords.keystone_admin_password is defined
  tags:
   - always

- name: set container tag contrail version to master if not defined
  set_fact:
    contrail_version_tag: latest
  when: contrail_configuration.CONTRAIL_VERSION is undefined
  tags:
   - always

- name: set container tag contrail version if defined
  set_fact:
    contrail_version_tag: "{{ contrail_configuration.CONTRAIL_VERSION }}"
  when: contrail_configuration.CONTRAIL_VERSION is defined
  tags:
   - always

- name: add openstack version tag if defined
  set_fact:
    contrail_version_tag: "{{ contrail_configuration.OPENSTACK_VERSION }}-{{ contrail_version_tag }}"
  when: contrail_configuration.OPENSTACK_VERSION is defined
  tags:
   - always

- name: add linux distr tag if defined
  set_fact:
    contrail_version_tag: "{{ contrail_configuration.LINUX_DISTR }}-{{ contrail_version_tag }}"
  when: contrail_configuration.LINUX_DISTR is defined
  tags:
   - always

- name: set registry to opencontrailnightly if undefined
  set_fact:
    container_registry: opencontrailnightly
  when: global_configuration is not defined or (global_configuration is defined and global_configuration.CONTAINER_REGISTRY is undefined)
  tags:
   - always

- name: set registry if defined
  set_fact:
    container_registry: "{{ global_configuration.CONTAINER_REGISTRY }}"
  when:
    - global_configuration is defined
    - global_configuration.CONTAINER_REGISTRY is defined
  tags:
   - always

- name: activate docker login
  shell: "docker login --username {{ global_configuration.CONTAINER_REGISTRY_USERNAME }} --password {{ global_configuration.CONTAINER_REGISTRY_PASSWORD }} {{ container_registry }}"
  when:
    - global_configuration is defined
    - global_configuration.CONTAINER_REGISTRY_USERNAME is defined
    - global_configuration.CONTAINER_REGISTRY_PASSWORD is defined
  tags:
   - always

- name: set stdin_open to true if it's not defined
  set_fact:
    stdin_open: true
  when: contrail_configuration.STDIN_OPEN is undefined
  tags:
   - always

- name: set stdin_open to specified value if defined
  set_fact:
    stdin_open: "{{ contrail_configuration.STDIN_OPEN }}"
  when: contrail_configuration.STDIN_OPEN is defined
  tags:
   - always

- name: set tty to true if it's not defined
  set_fact:
    tty: true
  when: contrail_configuration.TTY is undefined
  tags:
   - always

- name: set tty to specified value if defined
  set_fact:
    tty: "{{ contrail_configuration.TTY }}"
  when: contrail_configuration.TTY is defined
  tags:
   - always

- set_fact:
    default_roles: "{{ default_roles|default({})|combine({item.0: item.1}) }}"
  with_together:
    - ['analytics', 'analytics_database', 'config', 'config_database', 'control', 'vrouter', 'webui']
    - []
  when:
    - contrail_configuration.CLOUD_ORCHESTRATOR is undefined
  tags:
   - always

- set_fact:
    default_roles: "{{ default_roles|default({})|combine({item.0: item.1}) }}"
  with_together:
    - ['analytics', 'analytics_database', 'config', 'config_database', 'control', 'k8s_master', 'k8s_node', 'kubemanager', 'vrouter', 'webui']
    - []
  when:
    - contrail_configuration.CLOUD_ORCHESTRATOR is defined
    - contrail_configuration.CLOUD_ORCHESTRATOR == 'kubernetes'
  tags:
   - always


- set_fact:
    default_roles: "{{ default_roles|default({})|combine({item.0: item.1}) }}"
  with_together:
    - ['analytics', 'analytics_database', 'config', 'config_database', 'control', 'vrouter', 'webui', 'openstack']
    - []
  when:
    - contrail_configuration.CLOUD_ORCHESTRATOR is defined
    - contrail_configuration.CLOUD_ORCHESTRATOR == 'openstack'
  tags:
   - always

- set_fact:
    default_roles: "{{ default_roles|default({})|combine({item.0: item.1}) }}"
  with_together:
    - ['analytics', 'analytics_database', 'config', 'config_database', 'control', 'vrouter', 'webui', 'vcenter_plugin']
    - []
  when:
    - contrail_configuration.CLOUD_ORCHESTRATOR is defined
    - contrail_configuration.CLOUD_ORCHESTRATOR == 'vcenter'
  tags:
   - always

- set_fact:
    default_roles_hosts: {}
  tags:
   - always

- name: add roles if not defined
  set_fact:
     default_roles_hosts: "{{ default_roles_hosts|combine({item.key: default_roles}, recursive=True) }}"
  when: item.value.roles is undefined
  with_dict: "{{ instances }}"
  tags:
   - always

- name: add roles if defined
  set_fact:
     default_roles_hosts: "{{ default_roles_hosts|combine({item.key: item.value.roles}, recursive=True) }}"
  when: item.value.roles is defined
  with_dict: "{{ instances }}"
  tags:
   - always

- debug:
    msg: "default_roles {{ default_roles_hosts }}"
  tags:
   - always

- name: set roles if not defined
  set_fact:
    roles: "{{ default_roles_hosts }}"
  when: default_roles_hosts is defined
  tags:
   - always

- name: add nodes to contrail_configuration
  set_fact:
    contrail_configuration: "{{ contrail_configuration|default({})|combine({item.name: item.nodes|join(',')}) }}"
  when: contrail_configuration.get(item.name, 0) == 0 and item.nodes | length > 0
  with_items:
    - {'name': 'CONFIG_NODES', 'nodes': "{{config_nodes_list}}"}
    - {'name': 'CONTROL_NODES', 'nodes': "{{control_nodes_list}}"}
    - {'name': 'CONTROLLER_NODES', 'nodes': "{{control_nodes_list}}"}
    - {'name': 'CONFIGDB_NODES', 'nodes': "{{configdb_nodes_list}}"}
    - {'name': 'ANALYTICS_NODES', 'nodes': "{{analytics_nodes_list}}"}
    - {'name': 'ANALYTICSDB_NODES', 'nodes': "{{analyticsdb_nodes_list}}"}
    - {'name': 'WEBUI_NODES', 'nodes': "{{webui_nodes_list}}"}
    - {'name': 'TSN_NODES', 'nodes': "{{tsn_nodes_list}}"}

- name: get the final kolla configurations
  set_fact:
    final_kolla_configs: "{{ hostvars[item.value.ip].final_kolla_globals }}"
  with_dict: "{{ hostvars['localhost']['instances'] }}"
  when:
    - contrail_configuration.CLOUD_ORCHESTRATOR == 'openstack'
    - item.value is defined
    - item.value.ip is defined
    - hostvars[item.value.ip].final_kolla_globals is defined
  tags:
   - always

- name: set OpenStack endpoints from derived kolla parameters
  set_fact:
    contrail_configuration: "{{ contrail_configuration | default({}) | combine({item.name: final_kolla_configs.kolla_internal_vip_address }) }}"
  when:
    - item.is_not_defined | bool
    - contrail_configuration.CLOUD_ORCHESTRATOR == 'openstack'
    - final_kolla_configs is defined
    - final_kolla_configs.kolla_internal_vip_address is defined
  tags:
    - always
  with_items:
    - { name: 'KEYSTONE_AUTH_HOST', is_not_defined : "{{ contrail_configuration.KEYSTONE_AUTH_HOST is not defined }}" }
    - { name: 'IPFABRIC_SERVICE_HOST', is_not_defined : "{{ contrail_configuration.IPFABRIC_SERVICE_HOST is not defined }}" }
    - { name: 'computeManager_ip', is_not_defined : "{{ contrail_configuration.computeManager_ip is not defined }}" }
    - { name: 'imageManager_ip', is_not_defined : "{{ contrail_configuration.imageManager_ip is not defined }}" }
    - { name: 'networkManager_ip', is_not_defined : "{{ contrail_configuration.networkManager_ip is not defined }}" }

- name: set OpenStack endpoints from kolla_config.kolla_globals
  set_fact:
    contrail_configuration: "{{ contrail_configuration | default({}) | combine({item.name: kolla_config.kolla_globals.kolla_internal_vip_address }) }}"
  when:
    - item.is_not_defined | bool
    - contrail_configuration.CLOUD_ORCHESTRATOR == 'openstack'
    - kolla_config is defined
    - kolla_config.kolla_globals is defined
    - kolla_config.kolla_globals.kolla_internal_vip_address is defined
  tags:
    - always
  with_items:
    - { name: 'KEYSTONE_AUTH_HOST', is_not_defined : "{{ contrail_configuration.KEYSTONE_AUTH_HOST is not defined }}" }
    - { name: 'IPFABRIC_SERVICE_HOST', is_not_defined : "{{ contrail_configuration.IPFABRIC_SERVICE_HOST is not defined }}" }
    - { name: 'computeManager_ip', is_not_defined : "{{ contrail_configuration.computeManager_ip is not defined }}" }
    - { name: 'imageManager_ip', is_not_defined : "{{ contrail_configuration.imageManager_ip is not defined }}" }
    - { name: 'networkManager_ip', is_not_defined : "{{ contrail_configuration.networkManager_ip is not defined }}" }

- name: create /var/log/contrail
  file:
    path: /var/log/contrail
    state: directory
    recurse: yes
  tags:
   - always

- name: create /etc/contrail/compose
  file:
    path: /etc/contrail/compose
    state: directory
    recurse: yes
  tags:
   - always

- name: get /etc/contrail/common.env stat
  stat:
    path: /etc/contrail/common.env
  register: st
  tags:
   - always

- name: delete /etc/contrail/common.env if exists
  file:
    path: /etc/contrail/common.env
    state: absent
  when: st.stat.exists is defined and st.stat.exists
  tags:
   - always

- name: create /etc/contrail/common.env
  file:
    path: /etc/contrail/common.env
    state: touch
  tags:
   - always

- name: populate common.env
  lineinfile: dest=/etc/contrail/common.env regexp='.*{{ item.key }}$' line="{{ item.key }}={{ item.value }}" state=present
  no_log: True
  with_dict: "{{ contrail_configuration }}"
  tags:
   - always
  no_log: True

- name: create redis
  include: create_redis.yml
  when: roles[instance_name].webui is defined or roles[instance_name].analytics is defined
  tags:
    - webui
    - analytics

- name: create contrail config datqbase
  include: create_config_database.yml
  when: roles[instance_name].config_database is defined
  tags:
    - config_database

- name: create contrail config
  include: create_config.yml
  when: roles[instance_name].config is defined
  tags:
    - config

- name: create contrail webui
  include: create_webui.yml
  when: roles[instance_name].webui is defined
  tags:
    - webui

- name: create contrail control
  include: create_control.yml
  when: roles[instance_name].control is defined
  tags:
   - control

- name: create contrail control_only
  include: create_control_only.yml
  when: roles[instance_name].control_only is defined
  tags:
    - control_only

- name: create contrail analytics database
  include: create_analytics_database.yml
  when: roles[instance_name].analytics_database is defined
  tags:
    - analytics_database

- name: create contrail analytics
  include: create_analytics.yml
  when: roles[instance_name].analytics is defined
  tags:
    - analytics

- name: init master list
  set_fact:
    master_list: []
  tags:
    - k8s

- name: init master inventory list
  set_fact:
    master_inventory_list: []
  tags:
    - k8s

- name: set master
  include: set_master.yml
  with_items:
    - "{{ k8s_master_nodes_list }}"
  loop_control:
    loop_var: controller_item
  when: roles[instance_name].k8s_master is defined or roles[instance_name].k8s_node is defined or roles[instance_name].kubemanager is defined
  tags:
    - k8s

- name: create cni
  include: create_k8s_cni.yml
  when: roles[instance_name].k8s_node is defined
  tags:
    - k8s

- name: configure k8s master
  include: configure_k8s_master_node.yml
  when: roles[instance_name].k8s_master is defined and master_inventory is defined and inventory_hostname == master_inventory
  tags:
    - k8s

- name: create contrail vrouter
  include: create_vrouter.yml
  when: roles[instance_name].vrouter is defined
  tags:
    - vrouter

- name: join k8s master
  include: configure_k8s_join_node.yml
  when: roles[instance_name].k8s_node is defined and master_inventory is defined and inventory_hostname != master_inventory
  tags:
    - k8s

- name: create k8s dashboard
  include: create_k8s_dashboard.yml
  when: roles[instance_name].k8s_master is defined and master_inventory is defined and inventory_hostname == master_inventory
  tags:
    - k8s

- name: create contrail kube manager
  include: create_kubemanager.yml
  when: roles[instance_name].kubemanager is defined and master is defined and master_inventory is defined
  tags:
    - k8s

- name: create contrail vcenter-plugin
  include: create_vcenter_plugin.yml
  when:
    - contrail_configuration.CLOUD_ORCHESTRATOR == 'vcenter'
    - roles[instance_name].vcenter_plugin is defined
  tags:
    - vcenter_plugin

- name: untaint node
  shell: "kubectl taint nodes {{ hostvars[instance.value.ip]['ansible_fqdn'] }} node-role.kubernetes.io/master-"
  with_dict: "{{ hostvars['localhost']['instances'] }}"
  loop_control:
    loop_var: instance
  when:
    - roles[instance_name].k8s_master is defined
    - master_inventory is defined
    - inventory_hostname == master_inventory
    - instance.value.roles is defined
    - instance.value.roles.k8s_node is defined
    - instance.value.roles.k8s_master is defined
  ignore_errors: yes
