- name: create container host group
  include: create_container_host_group.yml
  tags:
    - install_contrail

- name: build node lists
  include: build_node_lists.yml
  tags:
    - always

- name: set global variables
  include: set_global_variables.yml
  tags:
    - always

- name: set default variables
  include: set_default_variables.yml
  tags:
    - always

- name: set contrail variables
  include: set_contrail_variables.yml
  tags:
    - always

- name: add gce container hosts
  include: add_gce_container_hosts.yml
  when: item.value.provider=='gce'
  with_dict: "{{ instances }}"
  tags:
    - configure_gce_instances
    - install_contrail

- name: add aws container hosts
  include: add_aws_container_hosts.yml
  when: item.value.provider=='aws'
  with_dict: "{{ instances }}"
  tags:
    - configure_aws_instances
    - install_contrail

- name: build cluster node role lists
  include: cluster_node_role_lists.yml
  tags:
    - always

- name: Configure certs
  include: configure_certs.yml
  when:
    - contrail_configuration is defined
    - (( contrail_configuration.SSL_ENABLE is defined ) and
      ( contrail_configuration.SSL_ENABLE|bool )) or
      (( contrail_configuration.CONFIG_API_SSL_ENABLE is defined ) and
      ( contrail_configuration.CONFIG_API_SSL_ENABLE|bool )) or
      (( contrail_configuration.ANALYTICS_API_SSL_ENABLE is defined ) and
      ( contrail_configuration.ANALYTICS_API_SSL_ENABLE|bool )) or
      (( contrail_configuration.XMPP_SSL_ENABLE is defined ) and
      ( contrail_configuration.XMPP_SSL_ENABLE|bool )) or
      (( contrail_configuration.INTROSPECT_SSL_ENABLE is defined ) and
      ( contrail_configuration.INTROSPECT_SSL_ENABLE|bool )) or
      (( contrail_configuration.SANDESH_SSL_ENABLE is defined ) and
      ( contrail_configuration.SANDESH_SSL_ENABLE|bool )) or
      (( contrail_configuration.TSN_SSL_ENABLE is defined ) and
      ( contrail_configuration.TSN_SSL_ENABLE|bool )) or
      (( contrail_configuration.REDIS_SSL_ENABLE is defined ) and
      ( contrail_configuration.REDIS_SSL_ENABLE|bool ))
