
{% for k,v in contrail_configuration.items() %}
{% if ((instances[instance_name].contrail_configuration is defined and
        instances[instance_name].contrail_configuration is not none and
        k in instances[instance_name].contrail_configuration) or
       (roles[instance_name].vrouter is defined and
        roles[instance_name].vrouter is not none and
        k in roles[instance_name].vrouter)) %}
{# Skip elements that a higher precedence value in either contrail_configuration
    under each instance or under the vrouter role definition #}
{% else %}
{{ k }}={{ v }}
{% endif %}
{% endfor %}

{% if (instances[instance_name].contrail_configuration is defined and
       instances[instance_name].contrail_configuration is not none) %}
{% for k, v in instances[instance_name].contrail_configuration.items() %}
{% if (roles[instance_name].vrouter is defined and
       roles[instance_name].vrouter is none or
       (roles[instance_name].vrouter is not none and
        k not in roles[instance_name].vrouter)) %}
{{ k }}={{ v }}
{% endif %}
{% endfor %}
{% endif %}

{% if (roles[instance_name].vrouter is defined and
       roles[instance_name].vrouter is not none) %}
{% for k, v in roles[instance_name].vrouter.items() %}
{{ k }}={{ v }}
{% endfor %}
{% endif %}

