version: '2'
services:
  node-init:
    image: "{{ container_registry }}/contrail-node-init:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common_vrouter.env
    environment:
      - CONTRAIL_STATUS_IMAGE="{{ container_registry }}/contrail-status:{{ contrail_version_tag }}"
    privileged: true
    pid: host
    network_mode: "host"
    volumes:
      {{ common_volumes | to_yaml | indent(width=6) }}
  nodemgr:
    image: "{{ container_registry }}/contrail-nodemgr:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common_vrouter.env
    environment:
      - NODE_TYPE=vrouter
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    volumes_from:
      - node-init
    depends_on:
      - node-init
    restart: on-failure
    logging:
      driver: "{{ compute_log_driver }}"
      options:
        max-size: "{{ compute_log_max_size }}"
        max-file: "{{ compute_log_max_file }}"
  provisioner:
    image: "{{ container_registry }}/contrail-provisioner:{{ contrail_version_tag }}"
    env_file: 
      - /etc/contrail/common_vrouter.env
      - /etc/contrail/defaults.env
    environment:
      - NODE_TYPE=vrouter
    network_mode: "host"
    volumes_from:
      - node-init
    depends_on:
      - node-init
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
    logging:
      driver: "{{ compute_log_driver }}"
      options:
        max-size: "{{ compute_log_max_size }}"
        max-file: "{{ compute_log_max_file }}" 
  vrouter-kernel-init-dpdk:
    image: "{{ container_registry }}/contrail-vrouter-kernel-init-dpdk:{{ contrail_version_tag }}"
    network_mode: host
    privileged: true
    env_file: /etc/contrail/common_vrouter.env
    pid: host
    volumes:
      - /lib/modules:/lib/modules
      - /var/run:/var/run
      - /etc/contrail:/host/etc/contrail
      - /dev:/dev
      - /etc/sysconfig/network-scripts:/etc/sysconfig/network-scripts
      - /bin:/host/bin
    volumes_from:
      - node-init
    depends_on:
      - node-init
{% if mellanox %}
  vrouter-plugin-mellanox-init:
    image: "{{ container_registry }}/contrail-vrouter-plugin-mellanox-init-{{plugin_os}}:{{ contrail_version_tag }}"
    network_mode: host
    privileged: true
    env_file: /etc/contrail/common_vrouter.env
    pid: host
    volumes:
      - /lib/modules:/lib/modules
      - /var/run:/var/run
      - /etc/os-release:/etc/os-release
      - /etc/lsb-release:/etc/lsb-release
      - /dev:/dev
      - /etc/sysconfig/network-scripts:/etc/sysconfig/network-scripts
      - /bin:/host/bin
    volumes_from:
      - node-init
    depends_on:
      - vrouter-kernel-init-dpdk
      - node-init
{% endif %}
  vrouter-agent-dpdk:
    image: "{{ container_registry }}/contrail-vrouter-agent-dpdk:{{ contrail_version_tag }}"
    network_mode: host
    privileged: true
    env_file: /etc/contrail/common_vrouter.env
    pid: host
    volumes:
      - /lib/modules:/lib/modules
      - /var/lib/contrail:/var/lib/contrail
      - /var/run:/var/run
      - /etc/os-release:/etc/os-release
      - /etc/lsb-release:/etc/lsb-release
      - /dev:/dev
      - /etc/sysconfig/network-scripts:/etc/sysconfig/network-scripts
    volumes_from:
      - node-init
    depends_on:
{% if mellanox %}
      - vrouter-plugin-mellanox-init
{% endif %}
      - vrouter-kernel-init-dpdk
      - node-init
    restart: always
    logging:
      driver: "{{ compute_log_driver }}"
      options:
        max-size: "{{ compute_log_max_size }}"
        max-file: "{{ compute_log_max_file }}"
  vrouter-agent:
    image: "{{ container_registry }}/contrail-vrouter-agent:{{ contrail_version_tag }}"
    network_mode: host
    privileged: true
    pid: host
    env_file: /etc/contrail/common_vrouter.env
    volumes:
      - /lib/modules:/lib/modules
      - /var/lib/contrail:/var/lib/contrail
      - /var/run:/var/run
      - /bin:/host/bin
      - /etc/sysconfig/network-scripts:/etc/sysconfig/network-scripts
      - /dev:/dev
      - /etc/resolv.conf:/etc/resolv.conf
    volumes_from:
      - node-init
    depends_on:
      - vrouter-agent-dpdk
      - node-init
    logging:
      driver: "{{ compute_log_driver }}"
      options:
        max-size: "{{ compute_log_max_size }}"
        max-file: "{{ compute_log_max_file }}"
    restart: always
