TOR_IP={{tor_agent_config[item.0].get('TOR_IP')}}
TOR_AGENT_ID={{tor_agent_config[item.0].get('TOR_AGENT_ID')}}
TOR_AGENT_NAME={{tor_agent_config[item.0].get('TOR_AGENT_NAME')}}
TOR_TYPE={{tor_agent_config[item.0].get('TOR_TYPE')}}
TOR_OVS_PORT={{tor_agent_config[item.0].get('TOR_OVS_PORT')}}
TOR_OVS_PROTOCOL={{tor_agent_config[item.0].get('TOR_OVS_PROTOCOL')}}
TOR_TSN_IP={{tor_agent_config[item.0].get('TOR_TSN_IP')}}
TOR_TSN_NAME={{tor_agent_config[item.0].get('TOR_TSN_NAME')}}
TOR_NAME={{tor_agent_config[item.0].get('TOR_NAME')}}
TOR_TUNNEL_IP={{tor_agent_config[item.0].get('TOR_TUNNEL_IP')}}
TOR_VENDOR_NAME={{tor_agent_config[item.0].get('TOR_VENDOR_NAME')}}
TOR_PRODUCT_NAME={{tor_agent_config[item.0].get('TOR_PRODUCT_NAME')}}
TOR_HTTP_SERVER_PORT={{tor_agent_config[item.0].get('TOR_HTTP_SERVER_PORT')}}
TOR_AGENT_OVS_KA={{tor_agent_config[item.0].get('TOR_AGENT_OVS_KA')}}
