---

{%- for k,v in instances.iteritems() -%}
  {%- for role in ['openstack_control', 'openstack_network', 'openstack_compute', 'vrouter', 'openstack_monitoring', 'openstack_storage', 'openstack'] -%}
    {%- if v.roles is defined and v.roles[role] is defined and v.roles[role] is mapping() and v.roles[role]|length() > 0 -%}
      {%- if hostvars[inventory_hostname].tmp_host is defined and v.ip == hostvars[inventory_hostname]['tmp_host'] -%}
        {%- for a,b in v.roles[role].iteritems() -%}
          {% print '\n' + a + ': ' + b %}
        {%- endfor -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
