---
###################
# Ceph options
####################
# These options must be UUID4 values in string format
# XXXXXXXX-XXXX-4XXX-XXXX-XXXXXXXXXXXX
ceph_cluster_fsid: {{  kolla_passwd.ceph_cluster_fsid if  kolla_passwd.ceph_cluster_fsid is defined else '' }}
# for backward compatible consideration, rbd_secret_uuid is only used for nova,
# cinder_rbd_secret_uuid is used for cinder
rbd_secret_uuid: {{  kolla_passwd.rbd_secret_uuid if  kolla_passwd.rbd_secret_uuid is defined else '' }}
cinder_rbd_secret_uuid: {{  kolla_passwd.cinder_rbd_secret_uuid if  kolla_passwd.cinder_rbd_secret_uuid is defined else '' }}

###################
# Database options
####################
database_password: {{  kolla_passwd.database_password if  kolla_passwd.database_password is defined else 'contrail123' }}

####################
# Docker options
####################
# This should only be set if you require a password for your Docker registry
docker_registry_password: {{  kolla_passwd.docker_registry_password if  kolla_passwd.docker_registry_password is defined else 'contrail123' }}

####################
# OpenStack options
####################
aodh_database_password: {{  kolla_passwd.aodh_database_password if  kolla_passwd.aodh_database_password is defined else 'contrail123' }}
aodh_keystone_password: {{  kolla_passwd.aodh_keystone_password if  kolla_passwd.aodh_keystone_password is defined else 'contrail123' }}

barbican_database_password: {{  kolla_passwd.barbican_database_password if  kolla_passwd.barbican_database_password is defined else 'contrail123' }}
barbican_keystone_password: {{  kolla_passwd.barbican_keystone_password if  kolla_passwd.barbican_keystone_password is defined else 'contrail123' }}
barbican_p11_password: {{  kolla_passwd.barbican_p if  kolla_passwd.barbican_p is defined else 'contrail123' }}11_password
barbican_crypto_key: {{  kolla_passwd.barbican_crypto_key if  kolla_passwd.barbican_crypto_key is defined else '' }}
barbican_crypto_password: {{  kolla_passwd.barbican_crypto_password if  kolla_passwd.barbican_crypto_password is defined else '' }}

keystone_admin_password: {{  kolla_passwd.keystone_admin_password if  kolla_passwd.keystone_admin_password is defined else 'contrail123' }}
keystone_database_password: {{  kolla_passwd.keystone_database_password if  kolla_passwd.keystone_database_password is defined else 'contrail123' }}

grafana_database_password: {{  kolla_passwd.grafana_database_password if  kolla_passwd.grafana_database_password is defined else 'contrail123' }}
grafana_admin_password: {{  kolla_passwd.grafana_admin_password if  kolla_passwd.grafana_admin_password is defined else 'contrail123' }}

glance_database_password: {{  kolla_passwd.glance_database_password if  kolla_passwd.glance_database_password is defined else 'contrail123' }}
glance_keystone_password: {{  kolla_passwd.glance_keystone_password if  kolla_passwd.glance_keystone_password is defined else 'contrail123' }}

gnocchi_database_password: {{  kolla_passwd.gnocchi_database_password if  kolla_passwd.gnocchi_database_password is defined else 'contrail123' }}
gnocchi_keystone_password: {{  kolla_passwd.gnocchi_keystone_password if  kolla_passwd.gnocchi_keystone_password is defined else 'contrail123' }}

karbor_database_password: {{  kolla_passwd.karbor_database_password if  kolla_passwd.karbor_database_password is defined else 'contrail123' }}
karbor_keystone_password: {{  kolla_passwd.karbor_keystone_password if  kolla_passwd.karbor_keystone_password is defined else 'contrail123' }}
karbor_openstack_infra_id: {{  kolla_passwd.karbor_openstack_infra_id if  kolla_passwd.karbor_openstack_infra_id is defined else 'contrail123' }}

kuryr_keystone_password: {{  kolla_passwd.kuryr_keystone_password if  kolla_passwd.kuryr_keystone_password is defined else 'contrail123' }}

nova_database_password: {{  kolla_passwd.nova_database_password if  kolla_passwd.nova_database_password is defined else 'contrail123' }}
nova_api_database_password: {{  kolla_passwd.nova_api_database_password if  kolla_passwd.nova_api_database_password is defined else 'contrail123' }}
nova_keystone_password: {{  kolla_passwd.nova_keystone_password if  kolla_passwd.nova_keystone_password is defined else 'contrail123' }}

placement_keystone_password: {{  kolla_passwd.placement_keystone_password if  kolla_passwd.placement_keystone_password is defined else 'contrail123' }}

neutron_database_password: {{  kolla_passwd.neutron_database_password if  kolla_passwd.neutron_database_password is defined else 'contrail123' }}
neutron_keystone_password: {{  kolla_passwd.neutron_keystone_password if  kolla_passwd.neutron_keystone_password is defined else 'contrail123' }}
# This should match the defaults given in the contrail containers (check in
# contrail-container-builder repo)
metadata_secret: {{  kolla_passwd.metadata_secret if  kolla_passwd.metadata_secret is defined else 'contrail' }}

cinder_database_password: {{  kolla_passwd.cinder_database_password if  kolla_passwd.cinder_database_password is defined else 'contrail123' }}
cinder_keystone_password: {{  kolla_passwd.cinder_keystone_password if  kolla_passwd.cinder_keystone_password is defined else 'contrail123' }}

cloudkitty_database_password: {{  kolla_passwd.cloudkitty_database_password if  kolla_passwd.cloudkitty_database_password is defined else 'contrail123' }}
cloudkitty_keystone_password: {{  kolla_passwd.cloudkitty_keystone_password if  kolla_passwd.cloudkitty_keystone_password is defined else 'contrail123' }}

panko_database_password: {{  kolla_passwd.panko_database_password if  kolla_passwd.panko_database_password is defined else 'contrail123' }}
panko_keystone_password: {{  kolla_passwd.panko_keystone_password if  kolla_passwd.panko_keystone_password is defined else 'contrail123' }}

freezer_database_password: {{  kolla_passwd.freezer_database_password if  kolla_passwd.freezer_database_password is defined else 'contrail123' }}
freezer_keystone_password: {{  kolla_passwd.freezer_keystone_password if  kolla_passwd.freezer_keystone_password is defined else 'contrail123' }}

sahara_database_password: {{  kolla_passwd.sahara_database_password if  kolla_passwd.sahara_database_password is defined else 'contrail123' }}
sahara_keystone_password: {{  kolla_passwd.sahara_keystone_password if  kolla_passwd.sahara_keystone_password is defined else 'contrail123' }}

designate_database_password: {{  kolla_passwd.designate_database_password if  kolla_passwd.designate_database_password is defined else 'contrail123' }}
designate_pool_manager_database_password: {{  kolla_passwd.designate_pool_manager_database_password if  kolla_passwd.designate_pool_manager_database_password is defined else 'contrail123' }}
designate_keystone_password: {{  kolla_passwd.designate_keystone_password if  kolla_passwd.designate_keystone_password is defined else 'contrail123' }}
# This option must be UUID4 value in string format
designate_pool_id: {{  kolla_passwd.designate_pool_id if  kolla_passwd.designate_pool_id is defined else '' }}
# This option must be HMAC-MD5 value in string format
designate_rndc_key: {{  kolla_passwd.designate_rndc_key if  kolla_passwd.designate_rndc_key is defined else '' }}

swift_keystone_password: {{  kolla_passwd.swift_keystone_password if  kolla_passwd.swift_keystone_password is defined else 'contrail123' }}
swift_hash_path_suffix: {{  kolla_passwd.swift_hash_path_suffix if  kolla_passwd.swift_hash_path_suffix is defined else 'contrail123' }}
swift_hash_path_prefix: {{  kolla_passwd.swift_hash_path_prefix if  kolla_passwd.swift_hash_path_prefix is defined else 'contrail123' }}

heat_database_password: {{  kolla_passwd.heat_database_password if  kolla_passwd.heat_database_password is defined else 'contrail123' }}
heat_keystone_password: {{  kolla_passwd.heat_keystone_password if  kolla_passwd.heat_keystone_password is defined else 'contrail123' }}
heat_domain_admin_password: {{  kolla_passwd.heat_domain_admin_password if  kolla_passwd.heat_domain_admin_password is defined else 'contrail123' }}

murano_database_password: {{  kolla_passwd.murano_database_password if  kolla_passwd.murano_database_password is defined else 'contrail123' }}
murano_keystone_password: {{  kolla_passwd.murano_keystone_password if  kolla_passwd.murano_keystone_password is defined else 'contrail123' }}

ironic_database_password: {{  kolla_passwd.ironic_database_password if  kolla_passwd.ironic_database_password is defined else 'contrail123' }}
ironic_keystone_password: {{  kolla_passwd.ironic_keystone_password if  kolla_passwd.ironic_keystone_password is defined else 'contrail123' }}

ironic_inspector_database_password: {{  kolla_passwd.ironic_inspector_database_password if  kolla_passwd.ironic_inspector_database_password is defined else 'contrail123' }}
ironic_inspector_keystone_password: {{  kolla_passwd.ironic_inspector_keystone_password if  kolla_passwd.ironic_inspector_keystone_password is defined else 'contrail123' }}

magnum_database_password: {{  kolla_passwd.magnum_database_password if  kolla_passwd.magnum_database_password is defined else 'contrail123' }}
magnum_keystone_password: {{  kolla_passwd.magnum_keystone_password if  kolla_passwd.magnum_keystone_password is defined else 'contrail123' }}

mistral_database_password: {{  kolla_passwd.mistral_database_password if  kolla_passwd.mistral_database_password is defined else 'contrail123' }}
mistral_keystone_password: {{  kolla_passwd.mistral_keystone_password if  kolla_passwd.mistral_keystone_password is defined else 'contrail123' }}

trove_database_password: {{  kolla_passwd.trove_database_password if  kolla_passwd.trove_database_password is defined else 'contrail123' }}
trove_keystone_password: {{  kolla_passwd.trove_keystone_password if  kolla_passwd.trove_keystone_password is defined else 'contrail123' }}

ceilometer_database_password: {{  kolla_passwd.ceilometer_database_password if  kolla_passwd.ceilometer_database_password is defined else 'contrail123' }}
ceilometer_keystone_password: {{  kolla_passwd.ceilometer_keystone_password if  kolla_passwd.ceilometer_keystone_password is defined else 'contrail123' }}

watcher_database_password: {{  kolla_passwd.watcher_database_password if  kolla_passwd.watcher_database_password is defined else 'contrail123' }}
watcher_keystone_password: {{  kolla_passwd.watcher_keystone_password if  kolla_passwd.watcher_keystone_password is defined else 'contrail123' }}

congress_database_password: {{  kolla_passwd.congress_database_password if  kolla_passwd.congress_database_password is defined else 'contrail123' }}
congress_keystone_password: {{  kolla_passwd.congress_keystone_password if  kolla_passwd.congress_keystone_password is defined else 'contrail123' }}

rally_database_password: {{  kolla_passwd.rally_database_password if  kolla_passwd.rally_database_password is defined else 'contrail123' }}

senlin_database_password: {{  kolla_passwd.senlin_database_password if  kolla_passwd.senlin_database_password is defined else 'contrail123' }}
senlin_keystone_password: {{  kolla_passwd.senlin_keystone_password if  kolla_passwd.senlin_keystone_password is defined else 'contrail123' }}

solum_database_password: {{  kolla_passwd.solum_database_password if  kolla_passwd.solum_database_password is defined else 'contrail123' }}
solum_keystone_password: {{  kolla_passwd.solum_keystone_password if  kolla_passwd.solum_keystone_password is defined else 'contrail123' }}

horizon_secret_key: {{  kolla_passwd.horizon_secret_key if  kolla_passwd.horizon_secret_key is defined else 'contrail123' }}
horizon_database_password: {{  kolla_passwd.horizon_database_password if  kolla_passwd.horizon_database_password is defined else 'contrail123' }}

telemetry_secret_key: {{  kolla_passwd.telemetry_secret_key if  kolla_passwd.telemetry_secret_key is defined else 'contrail123' }}

manila_database_password: {{  kolla_passwd.manila_database_password if  kolla_passwd.manila_database_password is defined else 'contrail123' }}
manila_keystone_password: {{  kolla_passwd.manila_keystone_password if  kolla_passwd.manila_keystone_password is defined else 'contrail123' }}

octavia_database_password: {{  kolla_passwd.octavia_database_password if  kolla_passwd.octavia_database_password is defined else 'contrail123' }}
octavia_keystone_password: {{  kolla_passwd.octavia_keystone_password if  kolla_passwd.octavia_keystone_password is defined else 'contrail123' }}
octavia_ca_password: {{  kolla_passwd.octavia_ca_password if  kolla_passwd.octavia_ca_password is defined else 'contrail123' }}

searchlight_keystone_password: {{  kolla_passwd.searchlight_keystone_password if  kolla_passwd.searchlight_keystone_password is defined else 'contrail123' }}

tacker_database_password: {{  kolla_passwd.tacker_database_password if  kolla_passwd.tacker_database_password is defined else 'contrail123' }}
tacker_keystone_password: {{  kolla_passwd.tacker_keystone_password if  kolla_passwd.tacker_keystone_password is defined else 'contrail123' }}

memcache_secret_key: {{  kolla_passwd.memcache_secret_key if  kolla_passwd.memcache_secret_key is defined else 'contrail123' }}

nova_ssh_key:
  private_key:
  public_key:

kolla_ssh_key:
  private_key:
  public_key:

keystone_ssh_key:
  private_key:
  public_key:

bifrost_ssh_key:
  private_key:
  public_key:

####################
# Gnocchi options
####################
gnocchi_project_id: {{  kolla_passwd.gnocchi_project_id if  kolla_passwd.gnocchi_project_id is defined else 'contrail123' }}
gnocchi_resource_id: {{  kolla_passwd.gnocchi_resource_id if  kolla_passwd.gnocchi_resource_id is defined else 'contrail123' }}
gnocchi_user_id: {{  kolla_passwd.gnocchi_user_id if  kolla_passwd.gnocchi_user_id is defined else 'contrail123' }}

####################
# RabbitMQ options
####################
rabbitmq_password: {{  kolla_passwd.rabbitmq_password if  kolla_passwd.rabbitmq_password is defined else 'contrail123' }}
rabbitmq_cluster_cookie: {{  kolla_passwd.rabbitmq_cluster_cookie if  kolla_passwd.rabbitmq_cluster_cookie is defined else 'contrail123' }}

####################
# HAProxy options
####################
haproxy_password: {{  kolla_passwd.haproxy_password if  kolla_passwd.haproxy_password is defined else 'contrail123' }}
keepalived_password: {{  kolla_passwd.keepalived_password if  kolla_passwd.keepalived_password is defined else 'contrail123' }}

####################
# Kibana options
####################
kibana_password: {{  kolla_passwd.kibana_password if  kolla_passwd.kibana_password is defined else 'contrail123' }}

####################
# etcd options
####################
etcd_cluster_token: {{  kolla_passwd.etcd_cluster_token if  kolla_passwd.etcd_cluster_token is defined else 'contrail123' }}
