---
kind: Namespace
apiVersion: v1
metadata:
  name: contrail
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: contrail-kubemanager
  namespace: contrail
rules:
  - apiGroups: ["*"]
    resources: ["*"]
    verbs: ["*"]
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: contrail-kubemanager
  namespace: contrail
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: contrail-kubemanager
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: contrail-kubemanager
subjects:
- kind: ServiceAccount
  name: contrail-kubemanager
  namespace: contrail
---
