version: '2'
services:
  redis:
    image: "{{ container_registry }}/contrail-external-redis:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common.env
    network_mode: "host"
    restart: always

{% if redis_ssl_enable %}
  stunnel:
    image: "{{ container_registry }}/contrail-external-stunnel:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common.env
    network_mode: "host"
    restart: always
    logging:
      driver: "{{ stunnel_log_driver }}"
      options:
        max-size: "{{ stunnel_log_max_size }}"
        max-file: "{{ stunnel_log_max_file }}"
    volumes:
     - /etc/contrail/ssl:/etc/contrail/ssl
{% endif %}
