version: '2'
services:
  node-init:
    image: "{{ container_registry }}/contrail-node-init:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common_kubemanager.env
    environment:
      - CONTRAIL_STATUS_IMAGE="{{ container_registry }}/contrail-status:{{ contrail_version_tag }}"
    privileged: true
    pid: host
    network_mode: "host"
    volumes:
      - /usr/bin:/host/usr/bin
      - /etc/contrail/ssl:/etc/contrail/ssl
      - /etc/sysctl.d:/etc/sysctl.d
  kubemanager:
    image: "{{ container_registry }}/contrail-kubernetes-kube-manager:{{ contrail_version_tag }}"
    network_mode: host
    environment:
      - K8S_TOKEN={{ hostvars[k8s_master_name].kubemanagertoken }}
    env_file: /etc/contrail/common_kubemanager.env
    volumes:
      - /var/log/contrail:/var/log/contrail
      - /etc/timezone:/etc/timezone
      - /etc/localtime:/etc/localtime
      - /var/crashes:/var/crashes
{% if contrail_configuration.STATS_COLLECTOR_DESTINATION_PATH | length > 1 %}
      - {{ contrail_configuration.STATS_COLLECTOR_DESTINATION_PATH | dirname }}:{{ contrail_configuration.STATS_COLLECTOR_DESTINATION_PATH  | dirname }}
{% endif %}
    volumes_from:
      - node-init
    depends_on:
      - node-init
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
