---
- name: set instance data
  set_fact:
    instance_data: "{{ instances[hostvars[inventory_hostname].instance_name] }}"

- name: set instance name
  set_fact:
    instance_name: "{{ hostvars[inventory_hostname].instance_name }}"

- name: set k8s version to default
  set_fact:
    k8s_version: "1.12.9"
- name: set k8s version from ENV if defined
  set_fact:
    k8s_version: "{{ global_configuration.K8S_VERSION }}"
  when:
    - global_configuration is defined
    - global_configuration.K8S_VERSION is defined

# dashboard has own set of versions https://github.com/kubernetes/dashboard/tags
# and K8S_VERSION can't be used directly
- name: set k8s dashboard version to default
  set_fact:
    k8s_dashboard_version: "1.8.3"
- name: set k8s dashboard version if not defined
  set_fact:
    k8s_dashboard_version: "{{ global_configuration.K8S_DASHBOARD_VERSION }}"
  when:
    - global_configuration is defined
    - global_configuration.K8S_DASHBOARD_VERSION is defined

- name: set k8s version for RedHat
  set_fact:
    k8s_package_version: "-{{ k8s_version }}-0"
  when:
    - ansible_os_family == 'RedHat'
    - instance_data.roles is defined
    - instance_data.roles.k8s_master is defined or instance_data.roles.k8s_node is defined

- name: set k8s version for Debian if not defined
  set_fact:
    k8s_package_version: "={{ k8s_version }}-00"
  when:
    - ansible_os_family == 'Debian'
    - instance_data.roles is defined
    - instance_data.roles.k8s_master is defined or instance_data.roles.k8s_node is defined

- name: OS specific package install
  include: "{{ ansible_os_family }}.yml"

# kubetcl must be first in the list - kubeadm has dependency to kubectl without version
- name: Install k8s packages if defined
  package:
    name: "{{ item }}{{ k8s_package_version }}"
    state: present
  with_items:
    - kubectl
    - kubelet
    - kubeadm
  when: k8s_package_version is defined
  register: res
  retries: 5
  until: res | success

- name: configure k8s master
  include: configure_k8s_master_node.yml
  when: roles[instance_name].k8s_master is defined and k8s_master_name is defined and inventory_hostname == k8s_master_name

- name: join k8s master
  include: configure_k8s_join_node.yml
  when: roles[instance_name].k8s_node is defined and k8s_master_name is defined and inventory_hostname != k8s_master_name

- name: create k8s dashboard
  include: create_k8s_dashboard.yml
  when: roles[instance_name].k8s_master is defined and k8s_master_name is defined and inventory_hostname == k8s_master_name

- name: untaint node
  shell: "kubectl taint nodes {{ hostvars[instance.value.ip]['ansible_fqdn'] }} node-role.kubernetes.io/master-"
  with_dict: "{{ hostvars['localhost']['instances'] }}"
  loop_control:
    loop_var: instance
  when:
    - roles[instance_name].k8s_master is defined
    - k8s_master_name is defined
    - inventory_hostname == k8s_master_name
    - instance.value.roles is defined
    - instance.value.roles.k8s_node is defined
    - instance.value.roles.k8s_master is defined
  ignore_errors: yes
