version: '2'
services:
  vrouter-cni:
    image: "{{ container_registry }}/contrail-mesosphere-cni-init:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common_cni.env
    network_mode: "host"
    volumes:
      - /var/lib/contrail:/var/lib/contrail
      - /opt/mesosphere/etc/dcos/network/:/host/opt_mesos_etc_dcos_network
      - /opt/mesosphere/active/cni/:/host/opt_mesos_active_cni
      - /var/log/contrail/cni:/var/log/contrail/cni
