---
- name: start contrail vrouter
  docker_service:
    project_name: contrail-vrouter
    pull: yes
    definition:
      version: '2'
      services:
        nodemgr:
          image: "{{ CONTAINER_REGISTRY }}/contrail-nodemgr:{{ contrail_configuration.CONTRAIL_VERSION }}-{{ contrail_configuration.OPENSTACK_VERSION }}"
          env_file: /tmp/common.env
          environment:
            - NODE_TYPE=contrail-vrouter
          network_mode: host
          volumes:
            - /var/log/contrail:/var/log/contrail
            - /var/run:/mnt
          restart: on-failure
        vrouter-init-kernel:
          image: "{{ CONTAINER_REGISTRY }}/contrail-agent-vrouter-init-kernel:{{ contrail_configuration.CONTRAIL_VERSION }}-{{ contrail_configuration.OPENSTACK_VERSION }}"
          network_mode: host
          privileged: true
          env_file: /tmp/common.env
          volumes:
            - /var/log/contrail:/var/log/contrail
          restart: on-failure
        vrouter-agent:
          image: "{{ CONTAINER_REGISTRY }}/contrail-agent-vrouter:{{ contrail_configuration.CONTRAIL_VERSION }}-{{ contrail_configuration.OPENSTACK_VERSION }}"
          network_mode: host
          privileged: true
          env_file: /tmp/common.env
          volumes:
            - /var/log/contrail:/var/log/contrail
          restart: on-failure
          depends_on:
            - vrouter-init-kernel
