---
vcenter_servers:
  - SRV1:
      hostname: 10.84.16.51
      username: administrator@vsphere.local
      password: Contrail123!
      datacentername: amudha-dc
      clusternames:
        - amudha-cluster
        - test-cluster
      dv_switch:
        dv_switch_name: amudha_dvs
        dv_switch_version: 6.5.0
      dv_port_group:
        dv_portgroup_name: amudha_pg
        number_of_ports: 1800
      vmdk: "http://10.84.5.120/cs-shared/contrail-vcenter/vmdk/amudha-test-eam/centos/ContrailVM.ovf"
esxihosts:
  - name: b4s4.englab.juniper.net
    username: root
    password: c0ntrail123
    vcenter_server: SRV1
    datastore: datastore1
    datacenter: amudha-dc
    cluster: amudha-cluster
    contrail_vm:
      networks:
        - mac: 00:50:56:05:ba:ba
  - name: 10.84.24.6
    username: root
    password: c0ntrail123
    datastore: datastore1 (1)
    vcenter_server: SRV1
    datacenter: amudha-dc
    cluster: test-cluster
    contrail_vm:
      networks:
        - mac: 00:50:56:00:d0:0b
