---
vcenter_servers:
  - SRV1:
      hostname: 10.84.5.76
      username: administrator@vsphere.local
      password: Contrail123!
      # Optional: defaults to False
      #validate_certs: False
      datacentername: "kp datacenter11 sp"
      clusternames:
        - "kp_cluster11 sp"
        - cluster2
      #path to the ovf, is needed for ESX Agent Manager to deploy ContrailVMs
      vmdk: http://10.84.5.120/centos-7.5/LATEST/ContrailVM.ovf
      # Optional: If not specified HA and DRS are turned off on the clusters.
      enable_ha: yes
      enable_drs: yes
      # Optional: If not specified default vm_dvs switch is created. This is the dvswitch for providing contrail overlay networking support for vcenter guest VMs.
      #dv_switch:
      #  dv_switch_name: vm_dvs
      #  dv_switch_version: 6.5.0
      #dv_port_group:
      #  dv_portgroup_name: vm_pg
      #  number_of_ports: 1800
      # Optional: Specify the control-data DVswitch and PG
      #dv_switch_control_data:
      #  dv_switch_name:
      #  dv_switch_version: 6.5.0
      #dv_port_group_control_data:
      #  dv_portgroup_name:
      #  number_of_ports:
      #  uplink:
      #    - 'vmnic0'
      #    - 'vmnic1'
      # Optional: Specify the mgmt DVswitch and PG
      #dv_switch_mgmt:
      #  dv_switch_name:
      #  dv_switch_version: 6.5.0
      #dv_port_group_mgmt:
      #  dv_portgroup_name:
      #  number_of_ports:
      #  uplink:
      #    - 'vmnic0'
      #    - 'vmnic1'
      # Optional: The user is exepcted to pre-create this switch and pre-configure sriov related items in vcenter/esxi, PG is created by the playbook
      #dv_switch_sr_iov:
      #  dv_switch_name:
      #  dv_switch_version: 6.5.0
      #dv_port_group_sriov:
      #  dv_portgroup_name:
      #  number_of_ports:
esxihosts:
  - name: 10.84.29.28
    username: root
    password: <Password> 
    # Optional: defaults to False
    #validate_certs: False
    #network to be set in "Agent VM Settings" of the host for EAM deployment
    #Optional: if not specified fab-pg is used
    network: fab-pg
    datastore: ds2
    datacenter: "kp datacenter11 sp"
    cluster: "kp_cluster11 sp"
    # Optional: specify uplink to be used for control_data on this esxi host, if not specified cluster level param is used
    #control_data_dvs_uplink:
    # - 'vmnic0'
    # - 'vmnic1'
    # Optional: specify uplink to be used for mgmt on this esxi host, if not specified cluster level param is used
    #mgmt_dvs_uplink:
    # - 'vmnic0'
    # - 'vmnic1'
    # Optional: specify std switch name (pre-configured), pg name specified here will be created, default switch_name is vswitch0 and pg is fab-pg
    #std_switch_list:
    #  - pg_name: mgmt-pg
    #    switch_name: vSwitch0
    contrail_vm:
      networks: 
        - mac: 00:77:56:aa:bb:01
          # options: standard/dvs, defaults to standard
          #sw_type: standard
          # standard or dvs name, defaults to vSwitch0
          #switch_name: vSwitch0
          # defaults to contrail-pg
          #pg: mgmt-pg
      # List of sriov nics to add to the computeVM. dv_switch_sr_iov stanza is required to be specified in vcenter block. User is expected to preconfigure this dvswitch. Assiciated portgroup is created by SM provisioning
      #sr_iov_nics:
      #  - dev1
      #  - dev2
      # List of PCI nics to add to the computeVM. User is expected to pre-configure pci pass-through on esxi host
      #pci_devices:
      #  - 0000:04:00.0
      #  - 0000:04:00.1
    vcenter_server: SRV1
