---
kolla_globals: "{{ kolla_config.kolla_globals if kolla_config.kolla_globals is defined else default_kolla_globals}}"

# Pick first instance's IP as a default
os_node_control: >-
     {%- set node_list = [] -%}
      {%- for k,v in hostvars['localhost']['instances'].iteritems() -%}
       {%- if v.roles is not defined or v.roles.openstack is defined or v.roles.openstack_control is defined -%}
        {%- if hostvars[inventory_hostname]['ansible_' + hostvars[inventory_hostname]['network_interface_detected']].get('ipv4',{}).get('address') -%}
         {%- do node_list.append(v.ip) -%}
        {%- endif -%}
       {%- endif -%}
      {%- endfor -%}
      {{ node_list | first }}

os_node_mgmt: "{{ hostvars[inventory_hostname]['ansible_' + external_interface_detected].get('ipv4',{}).get('address', 'no_ip_for_mgmt_iface') }}"

# TODO: This cannot be derived in all scenarios. This is because the
# create_openstack_config is run only on openstack_nodes. So we can not know the
# actual ctrl-data-ip of the contrail nodes unless they are colocated with
# openstack role. So just use mgmt IP and let user specify the ctrl-data-ip
# This might throw an error if the contrail node did not have an interface
# named {{ network_interface_detected }}:
# {%- do node_list.append(hostvars[v.ip]['ansible_' + network_interface_detected].get('ipv4').get('address')) -%}
# Need to come up with some other algorithm...
contrail_node_control: >-
    {%- set node_list = [] -%}
    {%- for k,v in hostvars['localhost']['instances'].iteritems() -%}
      {%- set ctrl_if = hostvars[v.ip].get('ansible_' + hostvars[v.ip].get('network_interface_detected', ansible_default_ipv4.interface), {}) -%}
      {%- set ctrl_ip = v.ip -%}
      {%- if ctrl_if -%}
        {%- set ctrl_ip = ctrl_if.get('ipv4').get('address') -%}
      {%- endif -%}
      {%- if v.roles is not defined -%}
        {%- do node_list.append(ctrl_ip) -%}
      {%- elif v.roles.control is defined -%}
        {%- do node_list.append(ctrl_ip) -%}
      {%- endif -%}
    {%- endfor -%}
    {{ node_list | first }}

container_registry: >-
    {%- if contrail_configuration is defined and contrail_configuration['CONTAINER_REGISTRY'] is defined -%}
      {%- print contrail_configuration['CONTAINER_REGISTRY'] -%}
    {%- else -%}
      {%- print 'opencontrailnightly' -%}
    {%- endif -%}

contrail_tag: >-
    {%- if contrail_configuration is defined and contrail_configuration['CONTRAIL_VERSION'] is defined %}
      {%- print contrail_configuration['CONTRAIL_VERSION'] -%}
    {%- else -%}
      {%- print 'latest' -%}
    {%- endif -%}

instance_data: "{{ instances[hostvars[inventory_hostname].instance_name] }}"

