version: '2'
services:
  vcenter-manager:
    image: "{{ container_registry }}/contrail-vcenter-manager:{{ contrail_version_tag }}"
    network_mode: "host"
    env_file: /etc/contrail/common_vcmanager.env
    volumes:
      - /var/log/contrail:/var/log/contrail
      - /var/lib/contrail:/var/lib/contrail
    restart: on-failure
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
