version: '2'
services:
  web:
    image: "{{ container_registry }}/contrail-controller-webui-web:{{ contrail_version_tag }}"
    network_mode: "host"
    env_file: /etc/contrail/common_webui.env
    volumes:
      - /var/log/contrail:/var/log/contrail
      - /etc/timezone:/etc/timezone
      - /etc/localtime:/etc/localtime
      - /var/crashes:/var/crashes
{% if contrail_configuration.STATS_COLLECTOR_DESTINATION_PATH | length > 1 %}
      - {{ contrail_configuration.STATS_COLLECTOR_DESTINATION_PATH | dirname }}:{{ contrail_configuration.STATS_COLLECTOR_DESTINATION_PATH  | dirname }}
{% endif %}
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
  job:
    image: "{{ container_registry }}/contrail-controller-webui-job:{{ contrail_version_tag }}"
    network_mode: "host"
    env_file: /etc/contrail/common_webui.env
    volumes:
      - /var/log/contrail:/var/log/contrail
      - /etc/timezone:/etc/timezone
      - /etc/localtime:/etc/localtime
      - /var/crashes:/var/crashes
{% if contrail_configuration.STATS_COLLECTOR_DESTINATION_PATH | length > 1 %}
      - {{ contrail_configuration.STATS_COLLECTOR_DESTINATION_PATH | dirname }}:{{ contrail_configuration.STATS_COLLECTOR_DESTINATION_PATH  | dirname }}
{% endif %}
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
