version: '2'
services:
  kubemanager:
    image: "{{ container_registry }}/contrail-kubernetes-kube-manager:{{ contrail_version_tag }}"
    network_mode: host
    environment:
      - K8S_TOKEN={{ hostvars[master_inventory].kubemanagertoken }}
    env_file: /etc/contrail/common_kubemanager.env
    volumes:
      - /var/log/contrail:/var/log/contrail
    restart: always
    stdin_open: {{ stdin_open }}
    tty: {{ tty }}
