version: '2'
services:
  server:
    image: "{{ container_registry }}/contrail-tftp:{{ contrail_version_tag }}"
    network_mode: "host"
    volumes:
      - /etc/hosts:/etc/hosts
      - /etc/timezone:/etc/timezone
      - /etc/localtime:/etc/localtime
      - /var/crashes:/var/crashes
      - {{ global_configuration.TFTP_DIR }}:/var/lib/tftpboot
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
