version: '2'
services:
  nodemgr:
    image: "{{ container_registry }}/contrail-nodemgr:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common_control.env
    environment:
      - NODE_TYPE=control
    labels:
      net.juniper.contrail.pod: control
    network_mode: "host"
    volumes:
      - /etc/hosts:/etc/hosts
      - /var/log/contrail:/var/log/contrail
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/contrail/control:/etc/contrail
      - /var/crashes/control:/var/crashes
    restart: always
  control:
    image: "{{ container_registry }}/contrail-controller-control-control:{{ contrail_version_tag }}"
    network_mode: "host"
    env_file: /etc/contrail/common_control.env
    volumes:
      - /etc/hosts:/etc/hosts
      - /var/log/contrail:/var/log/contrail
      - /etc/contrail/control:/etc/contrail
      - /var/crashes/control:/var/crashes
    restart: always
{% if roles[instance_name].control.location is undefined %}
  named:
    image: "{{ container_registry }}/contrail-controller-control-named:{{ contrail_version_tag }}"
    network_mode: "host"
    env_file: /etc/contrail/common_control.env
    privileged: true
    pid: host
    volumes_from:
      - dns
    depends_on:
      - dns
    restart: always
  dns:
    image: "{{ container_registry }}/contrail-controller-control-dns:{{ contrail_version_tag }}"
    network_mode: "host"
    env_file: /etc/contrail/common_control.env
    pid: host
    volumes:
      - /etc/hosts:/etc/hosts
      - /var/log/contrail:/var/log/contrail
      - /etc/contrail/control:/etc/contrail
      - /var/crashes/control:/var/crashes
    restart: always
{% endif %}
