[DEFAULTS]
log_local = 1
log_level = SYS_DEBUG
log_file = C:\ProgramData\Contrail\var\log\contrail\contrail-vrouter-nodemgr.log

[COLLECTOR]
server_list= {{ contrail_configuration.CONTROLLER_NODES }}:8086

