version: '2'
services:
  network:
    image: docker.io/kubernetes/pause
    network_mode: "host"
    volumes:
     - /etc/hosts:/etc/hosts
  nodemgr:
    image: "{{ container_registry }}/contrail-nodemgr:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common.env
    environment:
      - NODE_TYPE=control
    network_mode: "service:network"
    volumes:
      - /var/log/contrail:/var/log/contrail
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - network
    restart: on-failure
    stdin_open: true
    tty: true
  vcenter-plugin:
    image: "{{ container_registry }}/contrail-vcenter-plugin:{{ contrail_version_tag }}"
    network_mode: "service:network"
    volumes:
      - /var/log/contrail:/var/log/contrail
    depends_on:
      - network
    restart: on-failure
    stdin_open: true
    tty: true
