version: '2'
services:
  nodemgr:
    image: "{{ container_registry }}/contrail-nodemgr:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common_vrouter.env
    environment:
      - NODE_TYPE=vrouter
    network_mode: host
    volumes:
      - /var/log/contrail:/var/log/contrail
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/contrail/vrouter:/etc/contrail
      - /var/crashes/vrouter:/var/crashes
    restart: on-failure
    stdin_open: {{ stdin_open }}
    tty: {{ tty }}
  vrouter-kernel-init-dpdk:
    image: "{{ container_registry }}/contrail-vrouter-kernel-init-dpdk:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common_vrouter.env
    environment:
      - AGENT_MODE=dpdk
    network_mode: host
    privileged: true
    pid: host
    volumes:
      - /dev:/dev
      - /lib/modules:/lib/modules
      - /var/run:/var/run
      - /var/log/contrail:/var/log/contrail
      - /etc/contrail/vrouter:/etc/contrail
  vrouter-agent-dpdk:
    image: "{{ container_registry }}/contrail-vrouter-agent-dpdk:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common_vrouter.env
    environment:
      - AGENT_MODE=dpdk
    network_mode: host
    pid: host
    privileged: true
    volumes:
      - /dev:/dev
      - /lib/modules:/lib/modules
      - /var/run:/var/run
      - /var/log/contrail:/var/log/contrail
      - /etc/contrail/vrouter:/etc/contrail
      - /var/crashes/vrouter:/var/crashes
    restart: on-failure
    stdin_open: {{ stdin_open }}
    tty: {{ tty }}
    depends_on:
      - vrouter-kernel-init-dpdk
  vrouter-net-watchdog:
    image: "{{ container_registry }}/contrail-vrouter-net-watchdog:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common_vrouter.env
    environment:
      - AGENT_MODE=dpdk
    network_mode: host
    privileged: true
    volumes:
      - /dev:/dev
      - /etc/sysconfig/network-scripts:/etc/sysconfig/network-scripts
      - /lib/modules:/lib/modules
      - /bin:/host/bin
      - /var/run:/var/run
      - /var/log/contrail:/var/log/contrail
      - /etc/contrail/vrouter:/etc/contrail
    restart: on-failure
    stdin_open: {{ stdin_open }}
    tty: {{ tty }}
    depends_on:
      - vrouter-agent-dpdk
  vrouter-agent:
    image: "{{ container_registry }}/contrail-vrouter-agent:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common_vrouter.env
    environment:
      - AGENT_MODE=dpdk
    network_mode: host
    privileged: true
    volumes:
      - /dev:/dev
      - /lib/modules:/lib/modules
      - /bin:/host/bin
      - /var/run:/var/run
      - /var/log/contrail:/var/log/contrail
      - /etc/contrail/vrouter:/etc/contrail
      - /var/crashes/vrouter:/var/crashes
    restart: on-failure
    stdin_open: {{ stdin_open }}
    tty: {{ tty }}
    depends_on:
      - vrouter-net-watchdog
