version: '2'
services:
  network:
    image: docker.io/kubernetes/pause
    network_mode: "host"
    volumes:
     - /etc/hosts:/etc/hosts
  web:
    image: "{{ CONTAINER_REGISTRY }}/contrail-controller-webui-web:{{ contrail_configuration.CONTRAIL_VERSION }}-{{ contrail_configuration.LINUX_DISTR }}-{{ contrail_configuration.OPENSTACK_VERSION }}"
    network_mode: "service:network"
    env_file: /etc/contrail/common_webui.env
    volumes:
      - /var/log/contrail:/var/log/contrail
      - /etc/contrail/webui:/etc/contrail
    depends_on:
      - network
    restart: on-failure
  job:
    image: "{{ CONTAINER_REGISTRY }}/contrail-controller-webui-job:{{ contrail_configuration.CONTRAIL_VERSION }}-{{ contrail_configuration.LINUX_DISTR }}-{{ contrail_configuration.OPENSTACK_VERSION }}"
    network_mode: "service:network"
    env_file: /etc/contrail/common_webui.env
    volumes:
      - /var/log/contrail:/var/log/contrail
      - /etc/contrail/webui:/etc/contrail
    depends_on:
      - network
    restart: on-failure
  redis:
    image: "redis:4.0.2"
    env_file: /etc/contrail/common_webui.env
    network_mode: "service:network"
    depends_on:
      - network
    restart: on-failure
