version: '2'
services:
  network:
    image: docker.io/kubernetes/pause
    network_mode: "host"
    volumes:
     - /etc/hosts:/etc/hosts
  node-init:
    image: "{{ container_registry }}/contrail-node-init:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common_analytics.env
    environment:
      - CONTRAIL_STATUS_IMAGE="{{ container_registry }}/contrail-status:{{ contrail_version_tag }}"
    privileged: true
    pid: host
    network_mode: "service:network"
    volumes:
      - /usr/bin:/host/usr/bin
    depends_on:
      - network
  nodemgr:
    image: "{{ container_registry }}/contrail-nodemgr:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common_analytics.env
    environment:
      - NODE_TYPE=analytics
    network_mode: "service:network"
    volumes:
      - /var/log/contrail:/var/log/contrail
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/contrail/analytics:/etc/contrail
      - /var/crashes:/var/crashes
    depends_on:
      - network
      - node-init
    restart: on-failure
    stdin_open: {{ stdin_open }}
    tty: {{ tty }}
  api:
    image: "{{ container_registry }}/contrail-analytics-api:{{ contrail_version_tag }}"
    network_mode: "service:network"
    env_file: /etc/contrail/common_analytics.env
    volumes:
      - /var/log/contrail:/var/log/contrail
      - /etc/contrail/analytics:/etc/contrail
      - /var/crashes:/var/crashes
    depends_on:
      - network
    restart: on-failure
    stdin_open: {{ stdin_open }}
    tty: {{ tty }}
  collector:
    image: "{{ container_registry }}/contrail-analytics-collector:{{ contrail_version_tag }}"
    network_mode: "service:network"
    env_file: /etc/contrail/common_analytics.env
    volumes:
      - /var/log/contrail:/var/log/contrail
      - /etc/contrail/analytics:/etc/contrail
      - /var/crashes:/var/crashes
    depends_on:
      - network
    restart: on-failure
    stdin_open: {{ stdin_open }}
    tty: {{ tty }}
  query-engine:
    image: "{{ container_registry }}/contrail-analytics-query-engine:{{ contrail_version_tag }}"
    network_mode: "service:network"
    env_file: /etc/contrail/common_analytics.env
    volumes:
      - /var/log/contrail:/var/log/contrail
      - /etc/contrail/analytics:/etc/contrail
      - /var/crashes:/var/crashes
    depends_on:
      - network
    restart: on-failure
    stdin_open: {{ stdin_open }}
    tty: {{ tty }}
  alarm-gen:
    image: "{{ container_registry }}/contrail-analytics-alarm-gen:{{ contrail_version_tag }}"
    network_mode: "service:network"
    env_file: /etc/contrail/common_analytics.env
    volumes:
      - /var/log/contrail:/var/log/contrail
      - /etc/contrail/analytics:/etc/contrail
      - /var/crashes:/var/crashes
    depends_on:
      - network
    restart: on-failure
    stdin_open: {{ stdin_open }}
    tty: {{ tty }}
  snmp-collector:
    image: "{{ container_registry }}/contrail-analytics-snmp-collector:{{ contrail_version_tag }}"
    network_mode: "service:network"
    env_file: /etc/contrail/common_analytics.env
    volumes:
      - /var/log/contrail:/var/log/contrail
      - /etc/contrail/analytics:/etc/contrail
      - /var/crashes:/var/crashes
    depends_on:
      - network
    restart: on-failure
    stdin_open: {{ stdin_open }}
    tty: {{ tty }}
  topology:
    image: "{{ container_registry }}/contrail-analytics-topology:{{ contrail_version_tag }}"
    network_mode: "service:network"
    env_file: /etc/contrail/common_analytics.env
    volumes:
      - /var/log/contrail:/var/log/contrail
      - /etc/contrail/analytics:/etc/contrail
      - /var/crashes:/var/crashes
    depends_on:
      - network
    restart: on-failure
    stdin_open: {{ stdin_open }}
    tty: {{ tty }}
