---
kolla_config: {}
default_openstack_sku: ocata
openstack_sku: >-
    {%- if contrail_configuration.OPENSTACK_VERSION is defined -%}
      {{ contrail_configuration.OPENSTACK_VERSION }}
    {%- else -%}
      {{ default_openstack_sku }}
    {%- endif -%}

kolla_dir: "{{ playbook_dir }}/../../contrail-kolla-ansible"
