version: '2'
volumes:
  analytics_cassandra:
services:
  node-init:
    image: "{{ container_registry }}/contrail-node-init:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common.env
    environment:
      - CONTRAIL_STATUS_IMAGE="{{ container_registry }}/contrail-status:{{ contrail_version_tag }}"
    privileged: true
    pid: host
    network_mode: "host"
    volumes:
      {{ common_volumes | to_yaml | indent(width=6) }}
  nodemgr:
    image: "{{ container_registry }}/contrail-nodemgr:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common.env
    environment:
      - NODE_TYPE=database
      - CASSANDRA_CQL_PORT=9042
      - CASSANDRA_JMX_LOCAL_PORT=7200
    network_mode: "host"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    volumes_from:
      - node-init
    depends_on:
      - node-init
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
    logging:
      driver: "{{ analytics_db_log_driver }}"
      options:
        max-size: "{{ analytics_db_log_max_size }}"
        max-file: "{{ analytics_db_log_max_file }}"
  provisioner:
    image: "{{ container_registry }}/contrail-provisioner:{{ contrail_version_tag }}"
    env_file: 
      - /etc/contrail/common.env
      - /etc/contrail/defaults.env
    environment:
      - NODE_TYPE=database
    network_mode: "host"
    volumes_from:
      - node-init
    depends_on:
      - node-init
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
    logging:
      driver: "{{ analytics_db_log_driver }}"
      options:
        max-size: "{{ analytics_db_log_max_size }}"
        max-file: "{{ analytics_db_log_max_file }}"   
  query-engine:
    image: "{{ container_registry }}/contrail-analytics-query-engine:{{ contrail_version_tag }}"
    network_mode: "host"
    env_file: /etc/contrail/common.env
    volumes_from:
      - node-init
    depends_on:
      - node-init
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
    logging:
      driver: "{{ analytics_db_log_driver }}"
      options:
        max-size: "{{ analytics_db_log_max_size }}"
        max-file: "{{ analytics_db_log_max_file }}"
  cassandra:
    image: "{{ container_registry }}/contrail-external-cassandra:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common.env
    environment:
      - CASSANDRA_SEEDS={{ cassandra_seeds }}
      - CASSANDRA_START_RPC=true
      - CASSANDRA_CLUSTER_NAME=contrail_analytics
      - CASSANDRA_PORT=9160
      - CASSANDRA_CQL_PORT=9042
      - CASSANDRA_SSL_STORAGE_PORT=7011
      - CASSANDRA_STORAGE_PORT=7010
      - CASSANDRA_JMX_LOCAL_PORT=7200
      - NODE_TYPE=database
    volumes:
     - analytics_cassandra:/var/lib/cassandra/data
     - /etc/hosts:/etc/hosts
     - /etc/contrail/ssl:/etc/contrail/ssl
     - /var/log/contrail/database:/var/log/cassandra
    network_mode: "host"
    logging:
      driver: "{{ analytics_db_log_driver }}"
      options:
        max-size: "{{ analytics_db_log_max_size }}"
        max-file: "{{ analytics_db_log_max_file }}"
    restart: always
