version: '2'
services:
  node-init:
    image: "{{ container_registry }}/contrail-node-init:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common_control_only_{{ location.key }}.env
    environment:
      - CONTRAIL_STATUS_IMAGE="{{ container_registry }}/contrail-status:{{ contrail_version_tag }}"
    privileged: true
    pid: host
    network_mode: "host"
    volumes:
      {{ common_volumes | to_yaml | indent(width=6) }}
  nodemgr:
    image: "{{ container_registry }}/contrail-nodemgr:{{ contrail_version_tag }}"
    env_file: /etc/contrail/common_control_only_{{ location.key }}.env
    environment:
      - NODE_TYPE=control
    network_mode: "host"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    volumes_from:
      - node-init
    depends_on:
      - node-init
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
    logging:
      driver: "{{ control_log_driver }}"
      options:
        max-size: "{{ control_log_max_size }}"
        max-file: "{{ control_log_max_file }}"
  provisioner:
    image: "{{ container_registry }}/contrail-provisioner:{{ contrail_version_tag }}"
    env_file: 
      - /etc/contrail/common_control_only_{{ location.key }}.env
      - /etc/contrail/defaults.env
    environment:
      - NODE_TYPE=control
    network_mode: "host"
    volumes_from:
      - node-init
    depends_on:
      - node-init
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
    logging:
      driver: "{{ control_log_driver }}"
      options:
        max-size: "{{ control_log_max_size }}"
        max-file: "{{ control_log_max_file }}" 
  control:
    image: "{{ container_registry }}/contrail-controller-control-control:{{ contrail_version_tag }}"
    network_mode: "host"
    env_file: /etc/contrail/common_control_only_{{ location.key }}.env
    volumes_from:
      - node-init
    depends_on:
      - node-init
    restart: always
    stdin_open: {{ contrail_configuration.STDIN_OPEN }}
    tty: {{ contrail_configuration.TTY }}
    logging:
      driver: "{{ control_log_driver }}"
      options:
        max-size: "{{ control_log_max_size }}"
        max-file: "{{ control_log_max_file }}"
