- name: Create container host group
  hosts: localhost
  connection: local
  gather_facts: no
  roles:
  - create_container_host_group
  - { role: create_openstack_host_group, when: contrail_configuration.CLOUD_ORCHESTRATOR is defined and contrail_configuration.CLOUD_ORCHESTRATOR == 'openstack' }
  - { role: create_kolla_playbooks }
  - { role: install_kolla_dependencies, when: contrail_configuration.CLOUD_ORCHESTRATOR is defined and contrail_configuration.CLOUD_ORCHESTRATOR == 'openstack' }

  vars_files:
    - "{{ config_file }}"

- name: Configure instance(s)
  hosts: container_hosts
  gather_facts: yes
  roles:
  - configure_instances
  vars_files:
  - "{{ hostvars['localhost'].config_file }}"
