# orchestrator MUST be passed as a command line argument like so:
#
# ansible-playbook -i inventory/ -e orchestrator=openstack playbook/install_contrail.yml
#
#
- name: Create container host group
  hosts: localhost
  connection: local
  gather_facts: no
  roles:
    - name: Generate container_host group
      role: create_container_host_group
    - name: Generate openstack host groups
      role: create_openstack_host_group
      when: orchestrator == 'openstack'
  vars_files:
    - "{{ config_file }}"
  tags:
  - k8s

- include: install_kolla.yml
  when:
    - orchestrator == 'openstack'
    - skip_openstack is not defined or not skip_openstack|bool

- name: Install Contrail
  hosts: container_hosts
  gather_facts: yes
  roles:
  - { role: install_contrail, when: skip_contrail is not defined or not skip_contrail|bool }
  vars_files:
  - "{{ hostvars['localhost'].config_file }}"

