# orchestrator MUST be passed as a command line argument like so:
#
# ansible-playbook -i inventory/ -e orchestrator=openstack playbook/install_contrail.yml
#
- name: Create container host group and evaluate variables for Contrail
  hosts: localhost
  connection: local
  gather_facts: yes
  pre_tasks:
    - name: Expose instances
      set_fact:
          instances: "{{ instances }}"
      when: hostvars['localhost']['instances'] is undefined
    - name: Expose global configuration
      set_fact:
          global_configuration: "{{ global_configuration | default({}) }}"
      when: hostvars['localhost']['global_configuration'] is undefined
    - name: Expose remote_locations configuration
      set_fact:
          remote_locations: "{{ remote_locations | default({}) }}"
      when: hostvars['localhost']['remote_locations'] is undefined
    - name: Expose provider config
      set_fact:
          provider_config: "{{ provider_config | default({}) }}"
      when: hostvars['localhost']['provider_config'] is undefined
  roles:
    - contrail_deployer
    - k8s_deployer
  vars_files:
    - "{{ config_file }}"
  tags: always
  environment:
    - "{{ contrail_ansible_environment | default({})}}"

- name: Remove Contrail from Deleted Nodes ( Deregister )
  hosts: container_hosts
  gather_facts: yes
  tasks:
  - include_role:
      name: contrail
      tasks_from: deregister
    vars:
      - contrail_configuration: "{{ hostvars['localhost'].contrail_configuration }}"
      - node_roles_dict: "{{ hostvars['localhost'].node_roles_dict }}"
      - api_server: "{{ hostvars['localhost'].api_server }}"
      - deleted_nodes_dict: "{{ hostvars['localhost'].deleted_nodes_dict }}"
      - default_configuration: "{{ hostvars['localhost'].default_configuration }}"
    when:
      - hostvars['localhost'].global_configuration.ENABLE_DESTROY | default('True') | bool
      - hostvars['localhost'].api_server is defined
  environment:
    - "{{ contrail_ansible_environment | default({})}}"

- name: Remove Contrail from Deleted Nodes ( Cleanup )
  hosts:  "{{ hostvars['localhost'].deleted_nodes_dict.values() }}"
  tasks:
  - include_role:
      name: contrail
      tasks_from: delete
    vars:
      - contrail_configuration: "{{ hostvars['localhost'].contrail_configuration }}"
      - node_roles_dict: "{{ hostvars['localhost'].node_roles_dict }}"
      - instance_name: "{{ ansible_hostname }}"
      - ip_address: "{{ inventory_hostname }}"
      - api_server: "{{ hostvars['localhost'].api_server }}"
      - deleted_nodes_dict: "{{ hostvars['localhost'].deleted_nodes_dict }}"
      - default_configuration: "{{ hostvars['localhost'].default_configuration }}"
    when:
      - hostvars['localhost'].global_configuration.ENABLE_DESTROY | default('True') | bool
      - hostvars['localhost'].deleted_nodes_dict.keys() | length > 0
      - inventory_hostname in hostvars['localhost'].deleted_nodes_dict.values()
  - name: Cleanup Node
    include_role:
      name: destroy
    vars:
      - contrail_configuration: "{{ hostvars['localhost'].contrail_configuration }}"
      - node_roles_dict: "{{ hostvars['localhost'].node_roles_dict }}"
      - instance_name: "{{ ansible_hostname }}"
      - ip_address: "{{ inventory_hostname }}"
      - default_configuration: "{{ hostvars['localhost'].default_configuration }}"
    when:
      - hostvars['localhost'].global_configuration.ENABLE_DESTROY | default('True') | bool
      - hostvars['localhost'].deleted_nodes_dict.keys() | length > 0
      - inventory_hostname in hostvars['localhost'].deleted_nodes_dict.values()
  environment:
    - "{{ contrail_ansible_environment | default({})}}"

- name: Install Contrail
  hosts: container_hosts
  gather_facts: yes
  pre_tasks:
    - name: define k8s_master_ip
      set_fact:
          k8s_master_ip: "{{ hostvars['localhost'].k8s_master_ip }}"
      when: hostvars['localhost'].k8s_master_ip is defined
    - name: define k8s_master_name
      set_fact:
          k8s_master_name: "{{ hostvars['localhost'].k8s_master_name }}"
      when: hostvars['localhost'].k8s_master_name is defined
  roles:
    - contrail
  vars:
    - default_configuration: "{{ hostvars['localhost'].default_configuration }}"
    - provider_config: "{{ hostvars['localhost']['provider_config'] }}"
    - contrail_configuration: "{{ hostvars['localhost'].contrail_configuration }}"
    - global_configuration: "{{ hostvars['localhost'].global_configuration }}"
    - remote_locations: "{{ hostvars['localhost'].remote_locations }}"
    - instances: "{{ hostvars['localhost'].instances }}"
    - container_registry: "{{ hostvars['localhost'].container_registry }}"
    - contrail_version_tag: "{{ hostvars['localhost'].contrail_version_tag }}"
    - roles: "{{ hostvars['localhost'].roles }}"
    - node_roles_dict: "{{ hostvars['localhost'].node_roles_dict }}"
    - api_server: "{{ hostvars['localhost'].api_server }}"
    - deleted_nodes_dict: "{{ hostvars['localhost'].deleted_nodes_dict }}"
  environment:
    - https_proxy: "{{ contrail_configuration.HTTPS_PROXY|default('') }}"
    - http_proxy: "{{ contrail_configuration.HTTP_PROXY|default('') }}"
    - "{{ contrail_ansible_environment | default({}) }}"
  tags: always
