---
- name: create /etc/contrail/analytics_database
  file:
    path: /etc/contrail/analytics_database
    state: directory
    recurse: yes

- name: set cassandra seeds to ANALYTICSDB_NODES if defined
  set_fact:
    cassandra_seeds: "{{ contrail_configuration.ANALYTICSDB_NODES }}"
  when: contrail_configuration.ANALYTICSDB_NODES is defined

- name: set cassandra seeds to CONTROLLER_NODES if ANALYTICSDB_NODES not defined
  set_fact:
    cassandra_seeds: "{{ contrail_configuration.CONTROLLER_NODES }}"
  when: contrail_configuration.CONTROLLER_NODES is defined and contrail_configuration.ANALYTICSDB_NODES is undefined

- name: update contrail analytics database image
  shell: "docker pull {{ container_registry }}/{{ item }}:{{ contrail_version_tag }}"
  with_items:
    - contrail-node-init
    - contrail-nodemgr
    - contrail-analytics-query-engine
    - contrail-external-cassandra
    - contrail-provisioner
  when: contrail_configuration.UPDATE_IMAGES is undefined or contrail_configuration.UPDATE_IMAGES != false

- name: create contrail analytics database compose file
  template:
    src: contrail-analytics-database.yaml.j2
    dest: /etc/contrail/analytics_database/docker-compose.yaml

- name: start contrail analyticsdb
  docker_service:
    project_src: /etc/contrail/analytics_database
