contrail_configuration:
  CONTAINER_REGISTRY: satellite.englab.juniper.net:5443
  OPENSTACK_VERSION: ocata
  LINUX_DISTR: centos7
  CONTRAIL_VERSION: 5.0.0-134
  CONTROLLER_NODES: 192.168.1.100,192.168.1.101,192.168.1.102
roles:
  192.168.1.100:
    config_database:
    config:
    control:
    webui:
    analytics:
    analytics_database:
    k8s_master:
    k8s_node:
    vrouter:  
  192.168.1.101:
    config_database:
    config:
    control:
    webui:
    analytics:
    analytics_database:
    k8s_node:
    vrouter:
  192.168.1.102:
    config_database:
    config:
    control:
    webui:
    analytics:
    analytics_database:
    k8s_node:
    vrouter:
